version: '3'
services:
  app:
    build:
      context: .
      dockerfile: "Dockerfile.dev"
    stdin_open: true
    tty: true
    ports:
      - 3000:3000
    volumes:
      - .:/myapp:delegated
      - node-modules:/myapp/node_modules:delegated
      - bundle-data:/usr/local/bundle:delegated

volumes:
  bundle-data:
  node-modules:
